.btnWrapper {
    padding: 15px;
    margin: 5px;
    border: 1px solid tomato;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    
    background-color: tomato;
    border: 1px solid tomato;
    border-radius: 2px;
    
    font-size: 18px;
    line-height: 1;
    
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ad1a00;
    border-color: #ad1a00;
    color: #fff;
    transition-duration: 0.3s;
  }
  